body { padding-top: 90px; }

#message {
 
}

#textArea {

  border:solid 2px black;

}

#desc-input{
   border:solid 2px black;
}


.navbar {
  height: 80px;

}

.navbar-white {
    background-color: #fff;
    border-color: #fff;
  }

.darkTheme {
  background-color: gray;
  color: white;
}


.largeText {
  font-size: 2em;
}

