#message {
  margin-top: 120px;
}

#textArea {
  margin-top: 13px;
  border:solid 2px black;

}

#desc-input{
   border:solid 2px black;
}

.darkTheme {
  background-color: gray;
  color: white;
}

.largeText {
  font-size: 2em;
}